.abouth-title {
    font-size: 30px;
}

.abouth-text-item,
.abouth-text {
    font-size: 22px;
    margin: 20px 0px;
    margin: 30px 0px;
}

.abouth-title-mini {
    font-size: 25px;
}

.abouth-text-item {
    margin-left: 20px;
}