@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;700&display=swap');

:root {
    --main-color: white;
    --main-bg-color: black;
    --main-dod-color: brown;
    --main-low-bg-color: grey;
}

body {
    transition: all 0.3s;
    color: var(--main-color);
    font-family: 'Labrada', serif;
    background-color: var(--main-bg-color);
}

body.black {
    --main-color: white;
    --main-bg-color: black;
}

body.white {
    --main-color: black;
    --main-bg-color: white;
}